@{
    ViewBag.Title = "Informacion de usuario";
}

            <fieldset>
                <legend>Perfil de usuario</legend>
        
                    <div class="Cuenta">
                    <img src="/@ViewBag.Avatar" alt="imagen" width="150"/>
                    <table>
                
                        <tr><td>Username:</td><td>@ViewBag.nick </td></tr>
                        <tr><td>Apellido:</td><td>@ViewBag.apellido </td></tr>
                        <tr><td>Nombre:</td><td>@ViewBag.nombre</td></tr>
                        <tr><td>E-Mail:</td><td>@ViewBag.mail </td></tr>
                        <tr><td>Intereses:</td><td>@ViewBag.interes</td></tr>
                        <tr><td>Ubicacion:</td><td>@ViewBag.ubicacion </td></tr>
                        <tr><td>Karma:</td><td>@ViewBag.karma</td></tr>
                        
                    </table>
                    </div>        
            </fieldset>
            Karma total aportada por Comentarios:
            @ViewBag.coment 
            <fieldset>
                <legend>Mis publicaciones</legend>
                <table>
                <tr><th>| Titulo </th><th>|Tipo </th><th>|K. por publicar </th><th>|K. Me Gusta </th><th>|Karma Total|</th></tr>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                @foreach(var v in @ViewBag.publicacion){
                    int i = v.IdContenido;
                    string tit = v.Titulo;
                    int cont = 0;
                    foreach (var val in ViewBag.gusta)
                    {
                        if (val.IdPub == i)
                        {
                            cont = val.cantidad;
                        }
                    }
                    string ruta = "";
                    if (v.Tipo == "Libro")
                    {
                        ruta = "../Contenido/VistaLibro";
                    }
                    else {
                        ruta = "../Contenido/DetallePublicacion";
                    }
                    
                    <tr><td>@Html.ActionLink(tit, ruta, new {id=i })</td><td>@v.Tipo</td><td>???</td><td>@cont</td><td>@cont</td></tr>
                }
                </table>
            
            
            </fieldset>

 
