
@{
    
    ViewBag.Title = "Pagina principal";
}
<div id="cuerpo">
    <h1 align ="center">Libros mas recientes</h1>
    
	<hr/>
    @foreach (var item in @ViewBag.con)
    {
        
        string x = item.Titulo;
        int y = item.IdContenido;
        string aux = "../Contenido/VistaLibro/" + y;
        int cont= 0;
        Guid idus = Guid.Empty;
        foreach (var j in ViewBag.contenido) 
        {
            if (j.IdContenido == y) {
                 idus = j.Id_User;
            }
        }
        
        <div id="recuadro">
            <div id="usuario">
                <b>Publicado por:</b><br/>
                <a href="Account/Perfil2/@idus"><img src="@item.Avatar" alt="Avatar de usuario" width="100" height="50"/></a><br/>
                <b>Karma:</b> @item.Karma
            </div>
            @Html.ActionLink(x, "../Contenido/VistaLibro", new { id = y })
            <br/>
            <div id="mas_info">
            <b>Categorias:</b><br/>
                           
                            @foreach (var v in ViewBag.miscat)
                            {
                                int idcont = v.IdContenido;
                                if (idcont == y)
                                {
                                   <text> @v.Nombre<br/></text>
                                }
                            }
                           
                <b>Me gusta:</b>
                @foreach(var v in @ViewBag.Gusta)
                {
                    if (v.IdPub == y)
                    {
                        cont++;
                        @v.cantidad
                    }
                 }
                 @if (cont == 0)
                 { 
                     @cont
                 }
             </div>
             <ul class="cosa">
	             <li> <div id="imagen">
                 <a href="@aux"><img src="@item.Portada" alt="imagen" width="80" height="110"/></a>
                </div></li>
             </ul>
			 @item.Descripcion
			 <div id="limpiador">
             </div>
          </div>
		  <hr/>
       } 
                  <h1 align="center">Articulos mas recientes</h1>
                  @foreach (var item in @ViewBag.art)
                  { 
                      
                          string x = item.Titulo;
                                int y = item.IdContenido;
                            string aux = "../Contenido/DetallePublicacion/" + y;
                            int cont = 0;
                            Guid idus = Guid.Empty;
                            foreach (var j in ViewBag.contenido)
                            {
                                if (j.IdContenido == y)
                                {
                                    idus = j.Id_User;
                                }
                            }
                        
                     <div id="recuadro">
                         <div id="usuario">
                             <b>Publicado por:</b><br/>
                             <a href="Account/Perfil2/@idus"><img src="@item.Avatar" alt="Avatar de usuario" width="100" height="50"/></a><br/>
                             <b>Karma:</b> @item.Karma
                         </div>
                        
                         @Html.ActionLink(x, "../Contenido/DetallePublicacion", new { id = y })
                         <br/>
                         <div id="mas_info">
                            <b>Categorias:</b><br/>
                            
                            @foreach (var v in ViewBag.miscat)
                            {
                                int idcont = v.IdContenido;
                                if (idcont == y)
                                {
                                    <text> @v.Nombre<br/></text>
                                }
                            }
                            
                            <b>Me gusta:</b> @foreach (var v in @ViewBag.Gusta)
                                      {
                                         
                                          if (v.IdPub == y)
                                          {
                                              cont++;
                                                @v.cantidad
                                          }
                                          
                                      }
                                      @if (cont == 0)
                                      { 
                                            @cont
                                      }
                         </div>
                         @item.Descripcion
						 <div id="limpiador">
                         </div>
                       </div>
					<hr/>
                  }
                   <h1 align="center">Tutoriales mas recientes</h1>
                   @foreach (var item in @ViewBag.tuto)
                   { 
                       
                      
                            string x = item.Titulo;
                            int y = item.IdContenido;
                             string aux = "../Contenido/DetallePublicacion/" + y;
                             int cont = 0;
                             Guid idus = Guid.Empty;
                             foreach (var j in ViewBag.contenido)
                             {
                                 if (j.IdContenido == y)
                                 {
                                     idus = j.Id_User;
                                 }
                             }
                        
                     <div id="recuadro">
                         <div id="usuario">
                             <b>Publicado por:</b><br/>
                             <a href="Account/Perfil2/@idus"><img src="@item.Avatar" alt="Avatar de usuario" width="100" height="50"/></a><br/>
                             <b>Karma:</b> @item.Karma
                         </div>
                         
                         @Html.ActionLink(x, "../Contenido/DetallePublicacion", new { id = y })
                         <br/>
                         <div id="mas_info">
                            <b>Categorias:</b><br/>
                           
                            @foreach (var v in ViewBag.miscat)
                            {
                                int idcont = v.IdContenido;
                                if (idcont == y)
                                {
                                   <text> @v.Nombre<br/></text>
                                }
                            }
                            
                            <b>Me gusta: </b>
                            @foreach (var v in @ViewBag.Gusta)
                            {
                                
                                if (v.IdPub == y)
                                {
                                    cont++;
                                                @v.cantidad
                                }
                                
                            }
                            @if (cont == 0)
                            { 
                                            @cont
                            }
                         </div>
                         @item.Descripcion
						 <div id="limpiador">
                         </div>
                       </div>
					<hr/>
                   }
                   <h1 align="center">Cursos mas recientes</h1>
					@foreach (var item in @ViewBag.curso)
     { 
                     
                        
                             string x = item.Titulo;
                            int y = item.IdContenido;
                                string aux = "../Contenido/DetallePublicacion/" + y;
                            int cont = 0;
                            Guid idus = Guid.Empty;
                            foreach (var j in ViewBag.contenido)
                            {
                                if (j.IdContenido == y)
                                {
                                    idus = j.Id_User;
                                }
                            }
                         
                         <div id="recuadro">
                         <div id="usuario">
                             <b>Publicado por:</b><br/>
                             <a href="Account/Perfil2/@idus"><img src="@item.Avatar" alt="Avatar de usuario" width="100" height="50"/></a><br/>
                             <b>Karma:</b> @item.Karma
                         </div>
                         @Html.ActionLink(x, "../Contenido/DetallePublicacion", new { id = y })
                         <br/>
                         <div id="mas_info">
                            <b>Categorias:</b><br/>
                           
                            @foreach (var v in ViewBag.miscat)
                            {
                                int idcont = v.IdContenido;
                                if (idcont == y)
                                {
                                   <text> @v.Nombre<br/></text>
                                }
                            }
                           
                            <b>Me gusta:</b> @foreach (var v in @ViewBag.Gusta)
                                      {
                                          
                                          if (v.IdPub == y)
                                          {
                                              cont++;
                                                @v.cantidad
                                          }
                                        
                                      }
                                      @if (cont == 0)
                                          { 
                                            @cont
                                          }
                         </div>
                         @item.Descripcion
						 <div id="limpiador">
                         </div>
                       </div>
					<hr/>
     }
					<div id="navabajo">
						<a href="#">Volver</a> |
						<a href="#">Portada</a> 
					</div>
				</div> 
				<div id="lateral">
					<h2 class="titlat">Buscar</h2>
						<div id="fbuscar" class="cuerpolateral">
						@using (Html.BeginForm("busqueda", "Home"))
      {
							<div id="campotexto"><input type="text" name="criterio" value="busqueda"/></div>
                            <div id="campotexto"><select name="porque"><option value="*">Todos</option><option value="Articulo">Articulo</option><option value="Curso">Curso</option><option value="Libro">Libro</option><option value="Tutorial">Tutorial</option></select></div>
							<div id="botonbuscar"><button name="miboton" type="submit"><img src="/go.gif" alt="algo"/></button></div>
							
      }
						</div>
					<div id="registro" class="cuerpolateral">
                        @if (!Request.IsAuthenticated)
                        {
						    <text> @Html.ActionLink("Registrese con nosotros", "../Account/Register") y obtenga muchas ventajas.</text>
                        }
					</div> 
					<h2 class="titlat">Categoria</h2>
					<div id="otras" class="cuerpolateral">
					<ul>
					@foreach (var i in @ViewBag.catego){

                        string cad = i.Nombre;
                            
                        <li>    @Html.ActionLink(cad, "Index", new { id = @i.Id_cat })</li>
         
                            
                      }
                     <li>@Html.ActionLink("Todos", "Index", new { id = 0 })</li>
					</ul>
					</div> 
				</div>
				


