@{
    ViewBag.Title = "DetallePublicacion";
}

<h4>Detalle @ViewBag.tipo</h4>
<h2>@ViewBag.titulo</h2>
<div id="user">
    Publicado por:<br/>
    <a href="/Account/perfil2/@ViewBag.userid"><img src="../@ViewBag.avatar" alt="avatar de usuario" width="160" height="70"/></a><br/>
    Karma: @ViewBag.karma

    @foreach (var v in ViewBag.listas) {
        if (ViewBag.titulo != v.Titulo)
        {
            string x = @v.Titulo;
            int y = @v.IdContenido;
            <div id="recuadro">
            @if (v.Tipo == "Libro")
            {
                @Html.ActionLink(x, "VistaLibro", new { id = y })
            }
            else
            {
                @Html.ActionLink(x, "DetallePublicacion", new { id = y })
            }
            <br/>@v.Descripcion
        
            </div>
        }
    }
</div>

<div id="cuerpo">
<div id="valor">
    @if (Request.IsAuthenticated) { 
    int i=ViewBag.con;
    if(ViewBag.cosa=="0"){
            string val = "../Gusta/"+ViewBag.con;
                <a href="@val">Me Gusta<img src="/Content/megusta.jpg" alt="me gusta" height="25"/></a>
    }
    else
    {
        string val = "../NoGusta/" + ViewBag.con;
                <a href="@val">Ya no me gusta<img src="/Content/nomegusta.png" alt="ya no me gusta" height="25"/></a>
    }
    }
    <div id="contenido">
    @Html.Raw(ViewBag.contenido)
   </div>
    Comentarios: @ViewBag.comcont<br/>
    <table border="1" width="650">
    @foreach (var v in ViewBag.comentario)
    {
        DateTime dt=@v.Fecha;
       
        string fec = dt.ToString().Substring(0, 8);
        
        <tr><td>
            Publicado en fecha: @fec<br/>
            @v.Texto
        </td></tr>
    }
    </table>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm())
        { 
            <text>Comentario:<br/></text>
            <input type="hidden" name="id" value="@ViewBag.con"/>
            <textarea id="coment" name="coment" rows="5" cols="70"></textarea>
            <br/>
            <input type="submit" value="Comentar"/>
        }
    }
    </div>
 </div>

